<h1>Cafe Jolt Menu</h1>

<%= link_to 'Create an order', new_order_path, { class: "btn btn-default" }%>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Stock Level</th>
    </tr>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.name %></td>
        <td><%= menu_item.description %></td>
        <td><%= menu_item.stock_level %></td>
      </tr>
    <% end %>
  </tbody>
</table>
